.App {
  text-align: center;
  color: #fff;
}

.App-header {
  width: 200px;
}

.App-name {
  font-size: 36px;
}

.handwriting {
  font-family: "Dancing Script", cursive;
}

.search-bar {
  width: 100%;
  border: none;
  border-radius: 30px;
  height: 45px;
  padding: 15px;
}

.search-button {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: none;
  color: #7a72fe;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #7a72fe;
}
