body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
      112.1deg,
      rgb(32, 38, 57) 11.4%,
      rgb(63, 76, 119) 70.2%
    )
    fixed; */
  /* background: linear-gradient(
      180.2deg,
      rgb(30, 33, 48) 6.8%,
      rgb(74, 98, 110) 131%
    )
    fixed; */
  background: #2f2e41 fixed;
  scroll-behavior: smooth;
}
